$icomoon-font-path: "fonts" !default;

$oneicon-home-outline: "\e900";
$oneicon-add: "\e901";
$oneicon-arrow-down: "\e902";
$oneicon-arrow-right: "\e903";
$oneicon-arrow-up: "\e904";
$oneicon-checkbox-check: "\e905";
$oneicon-checkbox-x: "\e906";
$oneicon-close: "\e907";
$oneicon-collectioncreate: "\e908";
$oneicon-copy: "\e909";
$oneicon-cut: "\e90a";
$oneicon-file: "\e90b";
$oneicon-folder-new: "\e90c";
$oneicon-folder-open: "\e90d";
$oneicon-folder: "\e90e";
$oneicon-group-invite: "\e90f";
$oneicon-group: "\e910";
$oneicon-home: "\e911";
$oneicon-inbox: "\e912";
$oneicon-join: "\e913";
$oneicon-lock: "\e914";
$oneicon-menu-collection: "\e915";
$oneicon-menu-data: "\e916";
$oneicon-menu-groups: "\e917";
$oneicon-menu-links: "\e918";
$oneicon-menu-providers: "\e919";
$oneicon-menu-recent: "\e91a";
$oneicon-menu-token: "\e91b";
$oneicon-menu-trash: "\e91c";
$oneicon-move-down: "\e91d";
$oneicon-move-up: "\e91e";
$oneicon-provider-add: "\e91f";
$oneicon-provider-default: "\e920";
$oneicon-provider: "\e921";
$oneicon-providers-outline: "\e922";
$oneicon-remove: "\e923";
$oneicon-rename: "\e924";
$oneicon-search: "\e925";
$oneicon-share: "\e926";
$oneicon-social-dropbox: "\e927";
$oneicon-social-facebook: "\e928";
$oneicon-social-github: "\e929";
$oneicon-social-google: "\e92a";
$oneicon-social-plgrid: "\e92b";
$oneicon-space-add: "\e92c";
$oneicon-space-default: "\e92d";
$oneicon-space-empty: "\e92e";
$oneicon-space-reload: "\e92f";
$oneicon-space: "\e930";
$oneicon-star-empty: "\e931";
$oneicon-star: "\e932";
$oneicon-support: "\e933";
$oneicon-upload: "\e934";
$oneicon-user-add: "\e935";
$oneicon-user-profile: "\e936";
$oneicon-user: "\e937";
$oneicon-view-grid: "\e938";
$oneicon-view-list: "\e939";

