$icomoon-font-path: "fonts" !default;

$oneicon-add: "\e900";
$oneicon-arrow-down: "\e901";
$oneicon-arrow-right: "\e902";
$oneicon-arrow-up: "\e903";
$oneicon-checkbox-check: "\e904";
$oneicon-checkbox-x: "\e905";
$oneicon-close: "\e906";
$oneicon-collectioncreate: "\e907";
$oneicon-copy: "\e908";
$oneicon-cut: "\e909";
$oneicon-file: "\e90a";
$oneicon-folder-new: "\e90b";
$oneicon-folder-open: "\e90c";
$oneicon-folder: "\e90d";
$oneicon-group-invite: "\e90e";
$oneicon-group: "\e90f";
$oneicon-home-outline: "\e910";
$oneicon-home: "\e911";
$oneicon-inbox: "\e912";
$oneicon-join: "\e913";
$oneicon-lock: "\e914";
$oneicon-menu-collection: "\e915";
$oneicon-menu-data: "\e916";
$oneicon-menu-groups: "\e917";
$oneicon-menu-links: "\e918";
$oneicon-menu-providers: "\e919";
$oneicon-menu-recent: "\e91a";
$oneicon-menu-token: "\e91b";
$oneicon-menu-trash: "\e91c";
$oneicon-move-down: "\e91d";
$oneicon-move-up: "\e91e";
$oneicon-provider-add: "\e91f";
$oneicon-provider-default: "\e920";
$oneicon-provider-home: "\e921";
$oneicon-provider: "\e922";
$oneicon-providers-outline: "\e923";
$oneicon-remove: "\e924";
$oneicon-rename: "\e925";
$oneicon-search: "\e926";
$oneicon-share: "\e927";
$oneicon-social-dropbox: "\e928";
$oneicon-social-facebook: "\e929";
$oneicon-social-github: "\e92a";
$oneicon-social-google: "\e92b";
$oneicon-social-plgrid: "\e92c";
$oneicon-space-add: "\e92d";
$oneicon-space-default: "\e92e";
$oneicon-space-empty: "\e92f";
$oneicon-space-home: "\e930";
$oneicon-space-reload: "\e931";
$oneicon-space: "\e932";
$oneicon-star-empty: "\e933";
$oneicon-star: "\e934";
$oneicon-support: "\e935";
$oneicon-upload: "\e936";
$oneicon-user-add: "\e937";
$oneicon-user-profile: "\e938";
$oneicon-user: "\e939";
$oneicon-view-grid: "\e93a";
$oneicon-view-list: "\e93b";

